<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.password">hades</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost/Hades</property>
    <property name="hibernate.connection.username">hades</property>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
    <property name="show_sql">true</property>
    <mapping resource="pl/hades/baza/Firma.hbm.xml"/>
    <mapping resource="pl/hades/baza/Karawan.hbm.xml"/>
    <mapping resource="pl/hades/baza/Miejsce.hbm.xml"/>
    <mapping resource="pl/hades/baza/Pogrzeb.hbm.xml"/>
    <mapping resource="pl/hades/baza/Zleceniodawca.hbm.xml"/>
    <mapping resource="pl/hades/baza/Zmarly.hbm.xml"/>
    <mapping resource="pl/hades/baza/Pogrzeb.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
